
Resources:
  AWSEBVPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsSupport: true
      EnableDnsHostnames: true

  AWSEBSubnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: { "Ref" : "AWSEBVPC" }
      CidrBlock: 10.0.0.0/24
      MapPublicIpOnLaunch: true

  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Enable HTTP access via port 80"
      VpcId: { "Ref" : "AWSEBVPC" }
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0